<%= search_form_for @q, :class => collapse_search_form, :id => "trips_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :end_date, "End date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='end_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :end_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "End date greater than or equal to", :data => {:target => '#end_dategteqPicker'} %>
          <div class="input-group-append" data-target='#end_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='end_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :end_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "End date less than or equal to", :data => {:target => '#end_datelteqPicker'} %>
          <div class="input-group-append" data-target='#end_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#end_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#end_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#end_dategteqPicker').on("dp.change", function (e) {
              $('#end_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#end_datelteqPicker').on("dp.change", function (e) {
              $('#end_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :start_date, "Start date" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='start_dategteqPicker' data-target-input="nearest">
          <%= f.text_field :start_date_gteq, :class => "form-control datetimepicker-input", :placeholder => "Start date greater than or equal to", :data => {:target => '#start_dategteqPicker'} %>
          <div class="input-group-append" data-target='#start_dategteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='start_datelteqPicker' data-target-input="nearest">
          <%= f.text_field :start_date_lteq, :class => "form-control datetimepicker-input", :placeholder => "Start date less than or equal to", :data => {:target => '#start_datelteqPicker'} %>
          <div class="input-group-append" data-target='#start_datelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#start_dategteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#start_datelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#start_dategteqPicker').on("dp.change", function (e) {
              $('#start_datelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#start_datelteqPicker').on("dp.change", function (e) {
              $('#start_dategteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :journey_name_cont, "Journey name contains" %>
    <%= f.text_field :journey_name_cont, :class => "form-control", :placeholder => "Journey name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :destinations_city_name_cont, "Destination city_name contains" %>
    <%= f.text_field :destinations_city_name_cont, :class => "form-control", :placeholder => "Destination city_name contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/trips" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#trips_filters">
  Show filters
</a>
