<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Trip #<%= @trip.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/trips" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link trip start -->
      <div class="col">
        <% if current_user == @trip.user %>
          <a href="/trips/<%= @trip.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit trip
          </a>
        <% end %>
      </div>
      <!-- Edit link trip end -->

      <!-- Delete link trip start -->
      <div class="col">
        <% if current_user == @trip.user %>
          <a href="/delete_trip/<%= @trip.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete trip
          </a>
        <% end %>
      </div>
      <!-- Delete link trip end -->
    </div>

    <dl>
      <dt>
        Journey name
      </dt>
      <!-- Display journey_name start -->
      <dd>
        <%= @trip.journey_name %>
      </dd>
      <!-- Display journey_name end -->

      <dt>
        Start date
      </dt>
      <!-- Display start_date start -->
      <dd>
        <%= @trip.start_date %>
      </dd>
      <!-- Display start_date end -->

      <dt>
        End date
      </dt>
      <!-- Display end_date start -->
      <dd>
        <%= @trip.end_date %>
      </dd>
      <!-- Display end_date end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @trip.user.present? %>
          <a href="/users/<%= @trip.user_id %>">
            <%= @trip.user.id %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@trip.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@trip.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "trip_templates/trip_destinations" %>
  </div>
</div>
<!-- Show Page Customization end -->
