<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Destination #<%= @destination.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/destinations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/destinations/<%= @destination.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit destination
        </a>
      </div>

      <div class="col">
        <a href="/delete_destination/<%= @destination.id %>" class="btn btn-block btn-outline-secondary">
          Delete destination
        </a>
      </div>
    </div>

    <dl>
      <dt>
        City name
      </dt>
      <dd>
        <%= @destination.city_name %>
      </dd>

      <dt>
        Arrival date
      </dt>
      <dd>
        <%= @destination.arrival_date %>
      </dd>

      <dt>
        Departure date
      </dt>
      <dd>
        <%= @destination.departure_date %>
      </dd>

      <dt>
        Trip
      </dt>
      <dd>
        <% if @destination.trip.present? %>
          <a href="/trips/<%= @destination.trip_id %>">
            <%= @destination.trip.id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Country name
      </dt>
      <dd>
        <%= @destination.country_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@destination.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@destination.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

