<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Destination #<%= @destination.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/destinations" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link destination start -->
      <div class="col">
        <a href="/destinations/<%= @destination.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit destination
        </a>
      </div>
      <!-- Edit link destination end -->

      <!-- Delete link destination start -->
      <div class="col">
        <a href="/delete_destination/<%= @destination.id %>" class="btn btn-block btn-outline-secondary">
          Delete destination
        </a>
      </div>
      <!-- Delete link destination end -->
    </div>

    <dl>
      <dt>
        City name
      </dt>
      <!-- Display city_name start -->
      <dd>
        <%= @destination.city_name %>
      </dd>
      <!-- Display city_name end -->

      <dt>
        Arrival date
      </dt>
      <!-- Display arrival_date start -->
      <dd>
        <%= @destination.arrival_date %>
      </dd>
      <!-- Display arrival_date end -->

      <dt>
        Departure date
      </dt>
      <!-- Display departure_date start -->
      <dd>
        <%= @destination.departure_date %>
      </dd>
      <!-- Display departure_date end -->

      <dt>
        Trip
      </dt>
      <!-- Display trip_id start -->
      <dd>
        <%= @destination.trip_id %>
      </dd>
      <!-- Display trip_id end -->

      <dt>
        Country name
      </dt>
      <!-- Display country_name start -->
      <dd>
        <%= @destination.country_name %>
      </dd>
      <!-- Display country_name end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@destination.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@destination.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
